<h2>New Rental</h2>

<%= form_for @rental do |f| %>
  <%= f.label :insurance %>
  <%= f.check_box(:insurance) %><br>
  <%= f.label(:rent_to_own) %>
  <%= f.check_box(:rent_to_own) %><br>

<h3>Instrument</h3>


    <%= f.fields_for :instrument_attributes do |f| %>
          <p>Just enter the details of your desired instrument
          below, and we'll order it for you!</p>

          <% if params["format"] %>
            <% @instrument = Instrument.find_by(id: params["format"]) %>

            <%= f.label :instrument_type, "Instrument type (Guitar, Keyboard, etc)"%><br>
            <%= f.text_field :instrument_type, :value => @instrument.instrument_type%><br>
            <%= f.label :instrument_model, "Instrument Model"%><br>
            <%= f.text_field :instrument_model, :value => @instrument.instrument_model%><br>

          <% else %>

            <%= f.label :instrument_type, "Instrument type (Guitar, Keyboard, etc)"%><br>
            <%= f.text_field :instrument_type%><br>
            <%= f.label :instrument_model, "Instrument Model"%><br>
            <%= f.text_field :instrument_model%><br>

          <% end %>

          <%= f.submit "Rent" %>
    <% end %>
<% end %>
